<div class="col-md-6 offset-md-3">
	<h3> Generate PaySlip </h3>
	<form (ngSubmit)="onSubmit()">

		<div class="form-group">
			<label> Employee Id </label>
			<input type="number" class="form-control" id="empId" [(ngModel)]="salaryPay.empId" name="empId">
		</div>

		<div class="form-group">
			<label> Month </label>
			<input type="number" class="form-control" id="month" [(ngModel)]="salaryPay.month" name="month">
		</div>
		<div class="form-group">
			<label> Year </label>
			<input type="number" class="form-control" id="year" [(ngModel)]="salaryPay.year" name="year">
		</div>

		<div class="form-group">
			<label> Deduction </label>
			<input type="number" class="form-control" id="deduction" [(ngModel)]="salaryPay.deduction" name="deduction">
		</div>
		<button class="btn btn-success" type="submit">Generate</button>
	</form>
</div>