<h2> Employee List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Id</th>
            <th> Name </th>
            <th> Email</th>
            <th> Address</th>
            <th> Department </th>
            <th> ContactNo</th>
            <th> JoiningDate</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees" >
            <td> {{ employee.id }} </td>
            <td> {{ employee.name }} </td>
            <td> {{ employee.email }} </td>
            <td> {{ employee.address }} </td>
            <td> {{ employee.department }} </td>
            <td> {{ employee.contactNo }} </td>
            <td> {{ employee.joiningDate }} </td>
            <td>
                <button (click) = "employeeDetails(employee.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>