<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="employees" routerLinkActive="active" class="nav-link" >Employee List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-employee" routerLinkActive="active" class="nav-link" >Add Employee</a>
        </li>
        <li class = "nav-item">
            <a routerLink="leaves" routerLinkActive="active" class="nav-link" >Leaves</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-leaves" routerLinkActive="active" class="nav-link" >Add Leaves</a>
        </li>
        <li class = "nav-item">
            <a routerLink="salaries" routerLinkActive="active" class="nav-link" >Salary Slips</a>
        </li>
        <li class = "nav-item">
            <a routerLink="generate-payslip" routerLinkActive="active" class="nav-link" >Generate PaySlip</a>
        </li>
    </ul>
</nav>

<h1 class="text-center"> {{title}} </h1>
<div class = "container">
    <router-outlet></router-outlet>
</div>